* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: rgb(233, 233, 233)
}

header {
    background-color: white;
    padding: 5px;
}

.logo {
    margin-top: 15px;
    margin-left: 20px;
    width: 60px;
}

.center-container {
    background-color: white;
    margin: auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

h1 {
    font-size: 2.5em;
    display: inline-block;
    position: absolute;
    margin-top: 15px;
    margin-left: 5px;
}

nav{
    margin: 5% 30%;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.btn-blue {
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 1px solid black;
    font-size: 0.7em;
}

.btn-clear {
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: grey;
    border-radius: 20px;
}